{{!-- add background image --}}
<body style="background-image: url('{{backgroundImg}}'); ">
 <section class="m-5" style= "background-color: rgba(182, 11, 108, 0.6)";>
  {{!-- cite title, background interestes and goals from index.js --}}
  <h3>{{title}}</h3>
  <p>Welcome to my portfolio</p>
  <p>In this page, I am going to explain my interests.</p>
  <p>Background: {{background}}</p>
  <p>Interests: {{Interests}}</p>
  <p>Goals: {{Goals}}</p>
</section>
</body>

