<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>
<body style="background-image: url('{{backgroundImg}}'); ">
 <section class="m-5" style= "background-color: rgba(182, 11, 108, 0.6)";>
  <h1>{{title}}</h1>
  <p>Welcome to my portfolio</p>
  <p>In this page, I am going to explain my interests.</p>
  <p>Background: {{background}}</p>
  <p>Interests: {{Interests}}</p>
  <p>Goals: {{Goals}}</p>
</section>
</body>
</html>
