<body style="background-image: url('{{content.backgroundImg}}');">
  <section class="m-5">
    <div class="column">
    <h>{{title}}</h>
    <p>{{content.title}}</p>

    <p>Education:</p>
    <ul>
      {{#each content.education}}
        <li>
          <p>{{this.school}} | {{this.location}} | {{this.major}}, {{this.year}}</p>
        </li>
      {{/each}}
    </ul>
    </div>
    <div class="column">
    <p>Experiences:</p>
    <ul>
      {{#each content.experiences}}
        <li>
          <p>{{this.title}}  |  {{this.location}},  {{this.year}}</p>
          <p>{{this.responsibilities}}</p>
        </li>
      {{/each}}
    </ul>
</div>
<p>Read more on my resume: download from here <a href='{{content.resume}}'>Resume</a></p>

  </section>
</body>
