<body style="background-image: url('{{backgroundImg}}'); ">
<section class="m-5">
<h1>{{title}}</h1>

<p>{{resume}}</p>
<p>Education:</p>
 </p>{{Education1}}</p>
<p>{{Education2}}</p>
<p>{{Experience1}}</p>
<p>{{Experience2}}</p>
<p>{{Experience3}}</p>
</section>
</body>
